#pg {text-align: left; font-family: “Ubuntu”, "Noto Sans", "Roboto"; font-size: large;}
#ppg { text-align: left; font-family: "Raleway", "Noto Sans", "Roboto"; font-size: medium;}
h1 { text-align: left; font-family: “Ubuntu”, "Noto Sans", "Roboto"; font-size: larger; }
p { text-align: center; font-family: "Raleway", "Noto Sans", "Roboto" ; font-size: medium; }
a { text-align: center; font-family: "Raleway", "Noto Sans", "Roboto"; font-size: small;}
span { text-align: right; font-family: “Ubuntu”, "Noto Sans", "Roboto"; font-size: medium; color: white; }
span { 
display: block;
padding: 8px;
background-color: 000000;
}